<div>
  <div>
    <h1>
      What's left in your fridge?
    </h1>
  
    <li>
      Turn those fridge leftovers into a delicious meal without spending a dime! <br>
    </li>
    <li>
      Just enter what you've got, and we'll show you the magic of creating a delicious dish without buying a single extra ingredient!
    </li>
    <br>
    <form action="/insert_recipe" method="post">
      <div>
        <label for="ingredient_box">
          Ingredient(s)
        </label>

        <input type="text" id="ingredient_box" name="query_ingredient">
      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>



<hr>

<div>
  <div>
    <h2>
    What others are searching:
    </h2>

  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Ingredient
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.id %>
        </td>

        <td>
          <%= a_recipe.ingredient %>
        </td>

        <td>
          <%= time_ago_in_words(a_recipe.created_at) %> ago
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
